@@charset "UTF-8";

/*共通部分
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
html {
  font-size: 100%;
}


body{
     font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
     line-height: 1.7;
          color: #432
}

.SNS {
  display: flex;
  justify-content: flex-end;
  background-color: #0f2257;
}

.SNS a {
  color: #000000;
  padding: 10px;
}

a {
  text-decoration: none;
}

.home-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.home-content p {
  font-style: 1.125rem;
  margin: 10px 0 42px
}


/* 大きな背景 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-image: url(yuri.jpeg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}
.page-title {
  font-size: 4rem;
  font-family: 'Wallpoet', cursive;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
}
.button {
  font-size: 1.375rem;
  font-family: 'Itim', cursive;
  letter-spacing: .2rem;
  color: #000000;
  border: 1px solid #000000;
  padding: 18px 32px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.botton:hover {
  background: #7acde1;
}
.coments {
  display: flex;
  writing-mode: vertical-rl;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
/* モバイル版
---------------------------- */
@media (max-width: 800px) {
  #home {
    background-image: url(yurimobile.jpeg);
    min-height: 90vh;
    background-position: left;
  }

  .page-title {
    font-size: 2rem;
    font-family: 'Wallpoet', cursive;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
  }
  .button {
    font-family: 'Itim', cursive;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: #000000;
    border: 1px solid #000000;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .botton:hover {
    background: #7acde1;
  }
  .coments {
    font-family: 'New Tegomin', serif;
    display: flex;
    writing-mode: vertical-rl;
    align-items: right;
    font-size: 0.9rem;
  }
